@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: #121212;
    color: white;
    max-width: 768px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.hide {
    display: none !important;
}

.btn {
    border-radius: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.loading-app {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    font-size: 50px;
    background-color: #121212;
}

header {
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        margin-bottom: 20px;
        font-weight: 900;
    }

    p {
        margin-bottom: 0;
    }

    .container {
        position: relative;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
    }

    .store-links {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        font-size: 30px;
    }
}

section.copyright {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 120px;
    font-size: 12px;

    a {
        border-bottom: 1px dotted;
    }
}

.categories-list {
    position: sticky;
    top: 0;
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    width: 100%;
    scrollbar-width: none;
    cursor: grab;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &:active {
        cursor: grabbing;
    }

    .nav-link {
        color: white;
        font-weight: 700;
        font-size: 15px;
        border-bottom: 4px solid transparent;
        -webkit-user-drag: none;
        transition: .3s all;

        &.active {
            border-color: #dc3545;
        }
    }
}

section.category {
    padding: 20px 0;
    scroll-margin-top: 40px;

    h4 {
        margin-left: 20px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .scroll-container {
        display: flex;
        gap: 20px;
        overflow: auto;
        scrollbar-width: none;
        cursor: grab;
        user-select: none;

        img,
        a {
            -webkit-user-drag: none;
        }

        &:active {
            cursor: grabbing;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            flex: 0 0 35%;
        }
    }

    .item {
        &:first-child {
            margin-left: 20px;
        }

        &:last-child {
            margin-right: 20px;
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 0;
        }

        small {
            height: 42px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
        }
    }
}

.footer-overlay {
    z-index: 4;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    opacity: 0;
    transition: .3s opacity;

    &.show {
        opacity: 0.5;
        pointer-events: all;
    }
}

footer {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 50%;
    height: 65px;
    width: 100%;
    padding: 15px 5px;
    color: black;
    transition: .3s all;
    max-width: 768px;
    margin: auto;
    transform: translateX(-50%);

    .container {
        display: flex;
        flex-flow: column;
        max-height: 100%;

        .cart-container {
            flex: 1;
            overflow: auto;
        }
    }

    .btn-footer-toggle {
        position: absolute;
        top: -30px;
        right: 30px;
        border-radius: 5px 5px 0 0;
        border: none;
        background-color: #ffc107;
        color: black;

        &:focus,
        &:hover {
            background-color: #ffc107;
            color: black;
        }

        .fa-chevron-up {
            display: inline-block;
        }

        .fa-chevron-down {
            display: none;
        }
    }

    &.expand {
        height: calc(100% - 40px);
        padding: 30px 5px 20px 5px;
        border-radius: 10px 10px 0 0;

        .btn-footer-toggle {
            .fa-chevron-down {
                display: inline-block;
            }

            .fa-chevron-up {
                display: none;
            }
        }
    }

    .empty-message {
        text-align: center;
        margin: 0;
        margin-top: 5px;
    }

    .items-message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .cart-container {
        display: flex;
        flex-flow: column;
        gap: 20px;

        p {
            font-size: 14px;
        }

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
        }

        .product-observations {
            font-size: 13px;
            margin-top: 5px;
        }
    }
}

.modal {
    .modal-title {
        font-size: 18px;
    }

    .modal-content {
        border-radius: 0;
        font-size: 15px;

        input,
        select {
            font-size: 15px;
        }

        .quantity {
            display: flex;
            align-items: center;
            gap: 5px;
            flex: 0 0 120px;
        }
    }
}